.ipynb_checkpoints/
*.pyc

data/raw/boundary_shapefiles/

data/processed/county_distance_matrix.npy
data/processed/migration
data/processed/boundary_shapefiles
data/processed/*.csv

data/intermediate/Population and Housing Units: 1940 to 1990__intermediate.csv
data/intermediate/digital_coast/

output/*.eps
output/*.pdf
output/*.tiff
output/*.odg
output/*.svg
output/*.p
output/figures/*.tiff
output/figures_compressed/*.tiff
output/figures_compressed_jpg/
output/dl_results/*.npy
output/extrad_results/*.npy
output/comparison*
output/*.h5
output/*.txt
output/*.jpg

sync_up.sh
files_not_to_sync.txt