.ipynb_checkpoints/
*.pyc

data/raw/boundary_shapefiles/

data/processed/county_distance_matrix.npy
data/processed/migration
data/processed/boundary_shapefiles
data/processed/*.csv

data/intermediate/Population and Housing Units: 1940 to 1990__intermediate.csv
data/intermediate/digital_coast/

output/*.eps
output/*.pdf
output/*.tiff
output/*.odg
output/*.svg
output/*.p
output/figures/*.tiff
output/figures_compressed/*.tiff
output/figures_compressed_jpg/
output/dl_results/*.npy
output/extrad_results/*.npy
output/comparison*
output/*.h5
output/*.txt
output/*.jpg

sync_up.sh
files_not_to_sync.txt


## List of large data files that used to be on Git LFS
data/raw/R11631788_SL050.txt
data/raw/R11631788.txt
data/raw/R11632411_SL050.txt
data/raw/R11632411.txt
data/raw/cph-2-1-1.pdf
data/raw/R11628343.txt
data/raw/R11633875.txt
data/raw/R11628343_SL150.txt
data/raw/R11633875_SL150.txt
data/intermediate/Population and Housing Units: 1940 to 1990.txt
data/intermediate/Population and Housing Units: 1940 to 1990__processed.csv
data/state_fips.csv
data/intermediate/national_population_projections_census_2012.csv
data/processed/digital_coast/2ft_masked_union.tif
data/processed/digital_coast/3ft_masked_union.tif
data/processed/digital_coast/3ft.tif
data/processed/digital_coast/0ft_masked_union.tif
data/processed/digital_coast/0ft.tif
data/processed/digital_coast/1ft_masked.tif
data/processed/digital_coast/1ft.tif
data/processed/digital_coast/2ft_masked.tif
data/processed/digital_coast/4ft_masked.tif
data/processed/digital_coast/4ft.tif
data/processed/digital_coast/5ft_masked_union.tif
data/processed/digital_coast/6ft_masked_union.tif
data/processed/digital_coast/4ft_masked_union.tif
data/processed/digital_coast/5ft.tif
data/processed/digital_coast/6ft_masked.tif
data/processed/digital_coast/2ft.tif
data/processed/digital_coast/6ft.tif
data/processed/digital_coast/0ft_masked.tif
data/processed/digital_coast/1ft_masked_union.tif
data/processed/digital_coast/3ft_masked.tif
data/processed/digital_coast/5ft_masked.tif
data/raw/migration/county0405/countyin0405us1.dat
data/raw/migration/county0405/countyout0405us1.dat
data/raw/migration/county0506/countyin0506.dat
data/raw/migration/county0506/countyout0506.dat
data/raw/migration/county0607/countyin0607.dat
data/raw/migration/county0607/countyout0607.dat
data/raw/migration/county0708/ci0708us.dat
data/raw/migration/county0708/co0708us.dat
data/raw/migration/county0809/countyinflow0809.csv
data/raw/migration/county0809/countyoutflow0809.csv
data/raw/migration/county0910/countyinflow0910.csv
data/raw/migration/county0910/countyoutflow0910.csv
data/raw/migration/county1011/countyinflow1011.csv
data/raw/migration/county1011/countyoutflow1011.csv
data/raw/migration/county1112/countyinflow1112.csv
data/raw/migration/county1112/countyoutflow1112.csv
data/raw/migration/county1213/countyoutflow1213.csv
data/raw/migration/county1213/countyinflow1213.csv
data/raw/migration/county1314/countyinflow1314.csv
data/raw/migration/county1314/countyoutflow1314.csv
data/raw/migration/county1415/countyoutflow1415.csv
data/raw/migration/county1415/countyinflow1415.csv
data/raw/co-est00int-tot.csv
data/raw/co-est2017-alldata.csv
data/intermediate/boundary_shapefiles/cb_2015_us_county_500k.dbf
data/intermediate/boundary_shapefiles/cb_2015_us_county_500k.prj
data/intermediate/boundary_shapefiles/cb_2015_us_county_500k.shp
data/intermediate/boundary_shapefiles/cb_2015_us_county_500k.shx
data/raw/nclimate3271-s2.xlsx
data/intermediate/nclimate3271-s2.csv