data/raw/R11631788_SL050.txt filter=lfs diff=lfs merge=lfs -text
data/raw/R11631788.txt filter=lfs diff=lfs merge=lfs -text
data/raw/R11632411_SL050.txt filter=lfs diff=lfs merge=lfs -text
data/raw/R11632411.txt filter=lfs diff=lfs merge=lfs -text
data/raw/cph-2-1-1.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/R11628343.txt filter=lfs diff=lfs merge=lfs -text
data/raw/R11633875.txt filter=lfs diff=lfs merge=lfs -text
data/raw/R11628343_SL150.txt filter=lfs diff=lfs merge=lfs -text
data/raw/R11633875_SL150.txt filter=lfs diff=lfs merge=lfs -text
data/intermediate/Population[[:space:]]and[[:space:]]Housing[[:space:]]Units:[[:space:]]1940[[:space:]]to[[:space:]]1990.txt filter=lfs diff=lfs merge=lfs -text
data/intermediate/Population[[:space:]]and[[:space:]]Housing[[:space:]]Units:[[:space:]]1940[[:space:]]to[[:space:]]1990__processed.csv filter=lfs diff=lfs merge=lfs -text
data/state_fips.csv filter=lfs diff=lfs merge=lfs -text
data/intermediate/national_population_projections_census_2012.csv filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/2ft_masked_union.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/3ft_masked_union.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/3ft.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/0ft_masked_union.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/0ft.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/1ft_masked.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/1ft.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/2ft_masked.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/4ft_masked.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/4ft.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/5ft_masked_union.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/6ft_masked_union.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/4ft_masked_union.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/5ft.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/6ft_masked.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/2ft.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/6ft.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/0ft_masked.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/1ft_masked_union.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/3ft_masked.tif filter=lfs diff=lfs merge=lfs -text
data/processed/digital_coast/5ft_masked.tif filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county0405/countyin0405us1.dat filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county0405/countyout0405us1.dat filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county0506/countyin0506.dat filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county0506/countyout0506.dat filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county0607/countyin0607.dat filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county0607/countyout0607.dat filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county0708/ci0708us.dat filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county0708/co0708us.dat filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county0809/countyinflow0809.csv filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county0809/countyoutflow0809.csv filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county0910/countyinflow0910.csv filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county0910/countyoutflow0910.csv filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county1011/countyinflow1011.csv filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county1011/countyoutflow1011.csv filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county1112/countyinflow1112.csv filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county1112/countyoutflow1112.csv filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county1213/countyoutflow1213.csv filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county1213/countyinflow1213.csv filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county1314/countyinflow1314.csv filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county1314/countyoutflow1314.csv filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county1415/countyoutflow1415.csv filter=lfs diff=lfs merge=lfs -text
data/raw/migration/county1415/countyinflow1415.csv filter=lfs diff=lfs merge=lfs -text
data/raw/co-est00int-tot.csv filter=lfs diff=lfs merge=lfs -text
data/raw/co-est2017-alldata.csv filter=lfs diff=lfs merge=lfs -text
data/intermediate/boundary_shapefiles/cb_2015_us_county_500k.dbf filter=lfs diff=lfs merge=lfs -text
data/intermediate/boundary_shapefiles/cb_2015_us_county_500k.prj filter=lfs diff=lfs merge=lfs -text
data/intermediate/boundary_shapefiles/cb_2015_us_county_500k.shp filter=lfs diff=lfs merge=lfs -text
data/intermediate/boundary_shapefiles/cb_2015_us_county_500k.shx filter=lfs diff=lfs merge=lfs -text
